body{
    margin: 0;
    padding: 0;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1b2c52;
}
.formContent{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 600px;
    width: 500px;
    background-color: aliceblue;
}
input,textarea{
    outline: 0;
    border-width: 0 0 2px;
    border-color: #1b2c52;
}
#txtArea{
    width: 80%;
    padding: 10px;
    height: 80px;
    font-size: 15px;
    text-align: center;
}
.req{
    color: #1b398f;
}
.lets_create{
    color: #04298d;
    font-size: 30px;
}
input::placeholder,textarea::placeholder{
    color: #4d75cb;
    opacity: 1;
}
.input_field{
    width: 80%;
    height: 20px;
    font-size: 15px;
    padding: 10px;
    text-align: center;
}
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.input-icons i {
    position: absolute;
}

.icon {
    padding: 10px;
    color: #1b398f;
    min-width: 50px;
    text-align: center;
}
.Submit_button{
    width: 85%;
    padding: 15px;
    font-size: 16px;
    color: #1b2c52;
}
@media only screen and (max-width: 500px) {
    .input_field{
        width: 60%;
    }
    .formContent{
        height: 600px;
        width: 300px;
    }
    #txtArea{
        width: 60%;
        padding: 10px;
        height: 80px;
    }
    .Submit_button{
        width: 60%;
    }    
}